<style>
  .appinfo, .login{
    width: 600px;
    border: 2px solid green;
  }
</style>
<h2>Golf Tournament Resgistration App</h2>

<p>You can register your Golf Tournament here!</p>

<div class="appinfo">
    <ul>

      <p><b>AUTHENTICATION</b></p>

      <li>Users create a new account</li>
      <li>Users login with the created account <b>OR</b> login using GitHub</li>
      
      <p><b>AUTHORIZATION</b></p>
      
      <li>Users may view list of all of the tournaments </li>
      <li>Users may view details of individual tournament</li>
    </ul>
  </div>

  <p>Please sign up or login below to use the application:</p>


  <div class="login">
  <ul>
    <li><%= link_to "Signup as a new user", new_user_registration_path %></li>
    <li><%= link_to "Login as an existing user", new_user_session_path %></li>
  </ul>
</div>